.show {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}

.button {
    position: fixed;
    z-index: 999;
    bottom: 1.25rem;
    right: 1.25rem;
    display: grid;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    place-items: center;
    border-radius: 9999px;
    border: 1px solid #818cf8;
    padding: 0px;
    color: #818cf8;
    background-color: rgba(129, 140, 248, 0.1);
    outline: 2px solid transparent;
    outline-offset: 2px;
    opacity: 0;
    transform: translate(0, 2rem);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: rgba(129, 140, 248, 0.2);
    color: #818cf8;
}

.button svg {
    height: 1.01rem;
    width: 1.01rem;
}
